.title {
  text-align: center;
}
.search-box {  
  margin: 30px 0;
}
.item-row {
  display:flex;
}
.item-count {
  margin-bottom: 15px;
}
.item-list {
  display: flex;
  justify-content: space-between;
}
.delete-btn {
  border: none;
  background-color: white;
  margin: 0 20px
}